<!-- <div class="row top-row">
    <div class="col left-col" (click)="play(0)">
      <span>{{board[0]}}</span>
    </div>
    <div class="col middle-col" (click)="play(1)">
      <span>{{board[1]}}</span>
    </div>
    <div class="col right-col" (click)="play(2)">
      <span>{{board[2]}}</span>
    </div>
  </div>
  <div class="row middle-row">
    <div class="col left-col" (click)="play(3)">
      <span>{{board[3]}}</span>
    </div>
    <div class="col middle-col" (click)="play(4)">
      <span>{{board[4]}}</span>
    </div>
    <div class="col right-col" (click)="play(5)">
      <span>{{board[5]}}</span>
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col left-col" (click)="play(6)">
      <span>{{board[6]}}</span>
    </div>
    <div class="col middle-col" (click)="play(7)">
      <span>{{board[7]}}</span>
    </div>
    <div class="col right-col" (click)="play(8)">
      <span>{{board[8]}}</span>
    </div>
  </div>
   -->
   <div id="board"><p>
    Board: {{board}}
  </p>
  <button class="btn btn-secondary" (click)="play(0)">{{board[0]}}</button>
  <button class="btn btn-primary" (click)="play(1)">{{board[1]}}</button>
  <button class="btn btn-secondary" (click)="play(2)">{{board[2]}}</button><br>
  <button class="btn btn-primary" (click)="play(3)">{{board[3]}}</button>
  <button class="btn btn-secondary" (click)="play(4)">{{board[4]}}</button>
  <button class="btn btn-primary" (click)="play(5)">{{board[5]}}</button><br>
  <button class="btn btn-secondary" (click)="play(6)">{{board[6]}}</button>
  <button class="btn btn-primary" (click)="play(7)">{{board[7]}}</button>
  <button class="btn btn-secondary" (click)="play(8)">{{board[8]}}</button><br>
</div>